<% @users.each do |e| %>
    <hr>
    <p>
    user.id: <%= e.id %>
    user.name: <%= e.name %>
    <%= link_to 'フォローする', follows_path(to: e.id), method: :post %>
    </p>
    フォローしているアカウント：
    <% e.follows.each do |ee| %>
        <%= User.find(ee.to).name %>
    <% end %>
<% end %>

<%= link_to '新規追加', new_user_path %>
